@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Profile Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @*<h2>This is Default People View.</h2>*@
    <p>Use this page to create Profile from this Web App</p>
</div>
